<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WaSdkServerUrl</key>
	<string>http://sdk-test1.wingsdk.cn/sdk_bkd_qa/sdkapi/</string>
	<key>appKey</key>
	<string>abc</string>
	<key>appId</key>
	<string>testLogin</string>
	<key>os</key>
	<string>ios</string>
	<key>channel</key>
	<string>APPLE</string>
</dict>
</plist>
