<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WINGA</key>
	<dict>
		<key>ChannelId</key>
		<string>AppleStore</string>
		<key>URL</key>
		<string>https://api.wingsdk.cn/data/</string>
		<key>Enabled</key>
		<true/>
		<key>Mapping</key>
		<dict>
			<key>ghw_launch</key>
			<string></string>
			<key>ghw_startup</key>
			<string></string>
			<key>ghw_complete_registration</key>
			<string></string>
			<key>ghw_login</key>
			<string></string>
			<key>ghw_initiated_payment</key>
			<string></string>
			<key>ghw_payment</key>
			<string></string>
			<key>ghw_initiated_purchase</key>
			<string></string>
			<key>ghw_purchase</key>
			<string></string>
			<key>ghw_heartbeat</key>
			<string></string>
			<key>ghw_level_achieved</key>
			<string></string>
			<key>ghw_add_to_cart</key>
			<string></string>
			<key>ghw_add_to_wishlist</key>
			<string></string>
			<key>ghw_search</key>
			<string></string>
			<key>ghw_spent_credits</key>
			<string></string>
			<key>ghw_achievement_unlocked</key>
			<string></string>
			<key>ghw_content_view</key>
			<string></string>
			<key>ghw_share</key>
			<string></string>
			<key>ghw_invite</key>
			<string></string>
			<key>ghw_re_engage</key>
			<string></string>
			<key>ghw_update</key>
			<string></string>
			<key>ghw_user_create</key>
			<string></string>
			<key>ghw_user_info_update</key>
			<string></string>
			<key>ghw_task_update</key>
			<string></string>
			<key>ghw_gold_update</key>
			<string></string>
			<key>ghw_opened_from_push_notification</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
